n8n_workflow_fixed.json
{
  "name": "Inventario AI MVP - Flujo Único (Fricción Cero)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO public.usuarios (telegram_id, nombre, rol, tienda_id) VALUES ('\" + $json.message.from.id + \"', '\" + (($json.message.from.first_name || 'Usuario').replace(/'/g, \"''\")) + \"', 'vendedor', 1) ON CONFLICT (telegram_id) DO UPDATE SET nombre = EXCLUDED.nombre RETURNING id AS usuario_id, tienda_id;\" }}"
      },
      "name": "Create or Get User (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$node[\"Telegram Trigger\"].json.message.voice }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.voice.file_id }}"
      },
      "name": "Telegram Download Voice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        660,
        160
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "sendBodyAs": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            }
          ]
        },
        "options": {}
      },
      "name": "Groq Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Groq Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normaliza el texto para que el flujo sea igual si viene de voz o texto\nconst msg = $node[\"Telegram Trigger\"].json.message;\nconst text = msg.text || msg.caption || '';\nreturn [{ json: { text } }];\n"
      },
      "name": "Normalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convierte la respuesta de Whisper a { text }\n// Groq suele devolver: { text: \"...\" }\nconst text = $json.text || $json?.data?.text || '';\nreturn [{ json: { text } }];\n"
      },
      "name": "Whisper → Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Devuelve SOLO un JSON valido (sin markdown) con: tipo (venta|ingreso|gasto|traslado), producto (string), cantidad (number), precio_unitario (number|null), categoria_ruta (string|null).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.text }}\"\n    }\n  ],\n  \"temperature\": 0\n}\n",
        "options": {}
      },
      "name": "Groq Llama 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Groq Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsea el JSON que devuelve el modelo, tolerando markdown accidental\nconst content = ($json && $json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  const clean = content.replace(/```json/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(clean);\n}\n\n// Normalización mínima\nconst tipo = (parsed.tipo || '').toString().toLowerCase();\nconst cantidad = Number(parsed.cantidad || 0);\nconst precio_unitario = parsed.precio_unitario === null || parsed.precio_unitario === undefined\n  ? null\n  : Number(parsed.precio_unitario);\n\nreturn [{\n  json: {\n    tipo,\n    producto: (parsed.producto || '').toString().trim(),\n    cantidad,\n    precio_unitario,\n    categoria_ruta: parsed.categoria_ruta ? String(parsed.categoria_ruta) : null\n  }\n}];\n"
      },
      "name": "Parse Groq JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.categoria_ruta ? (\"SELECT id FROM categorias WHERE ruta = '\" + $json.categoria_ruta + \"' LIMIT 1;\") : \"SELECT NULL::int as id;\" }}"
      },
      "name": "Get Category ID (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO productos (nombre, categoria_id) VALUES ('\" + $node[\\\"Parse Groq JSON\\\"].json.producto.replace(/'/g, \"''\") + \"', \" + ($json.id ? $json.id : 'NULL') + \") ON CONFLICT (nombre) DO UPDATE SET categoria_id = EXCLUDED.categoria_id RETURNING id;\" }}"
      },
      "name": "Ensure Product (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO stock (producto_id, tienda_id, cantidad) VALUES (\" + $json.id + \", \" + $node[\\\"Create or Get User (Postgres)\\\"].json.tienda_id + \", 0) ON CONFLICT (producto_id, tienda_id) DO UPDATE SET updated_at = NOW() RETURNING producto_id;\" }}"
      },
      "name": "Ensure Stock (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO public.movimientos (tipo, producto_id, cantidad, precio_unitario, tienda_origen, usuario_id, transcripcion) VALUES ('\" + $node[\"Parse Groq JSON\"].json.tipo + \"', \" + $node[\"Ensure Product (Postgres)\"].json.id + \", \" + $node[\"Parse Groq JSON\"].json.cantidad + \", \" + ($node[\"Parse Groq JSON\"].json.precio_unitario === null ? 'NULL' : $node[\"Parse Groq JSON\"].json.precio_unitario) + \", \" + $node[\"Create or Get User (Postgres)\"].json.tienda_id + \", \" + $node[\"Create or Get User (Postgres)\"].json.usuario_id + \", '\" + ($node[\"Is Voice?\"].json.value1 ? $node[\"Whisper → Text\"].json.text.replace(/'/g, \"''\") : $node[\"Normalize Text\"].json.text.replace(/'/g, \"''\")) + \"') RETURNING id;\" }}"
      },
      "name": "Insert Movimiento (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2420,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ '✅ Movimiento registrado\\n\\nTipo: ' + $node[\"Parse Groq JSON\"].json.tipo.toUpperCase() + '\\nProducto: ' + $node[\"Parse Groq JSON\"].json.producto + '\\nCantidad: ' + $node[\"Parse Groq JSON\"].json.cantidad + ($node[\"Parse Groq JSON\"].json.precio_unitario ? '\\nPrecio Unit.: S/. ' + $node[\"Parse Groq JSON\"].json.precio_unitario : '') + '\\n\\n¿Deseas revertir este registro?' }}",
        "additionalFields": {
          "reply_markup": "={\n  \"inline_keyboard\": [\n    [\n      {\n        \"text\": \"↩️ Deshacer Registro\",\n        \"callback_data\": \"deshacer:{{ $json.id }}\"\n      }\n    ]\n  ]\n}\n"
        }
      },
      "name": "Notify Success and Offer Undo (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ]
      },
      "name": "Telegram Callback Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesa callback_data: \"deshacer:<movimiento_id>\"\nconst data = ($json.callback_query?.data || '').toString();\nconst [action, movimiento_id] = data.split(':');\nreturn [{\n  json: {\n    action,\n    movimiento_id: Number(movimiento_id),\n    chat_id: $json.callback_query?.message?.chat?.id,\n    message_id: $json.callback_query?.message?.message_id\n  }\n}];\n"
      },
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.action === 'deshacer' }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Undo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"DELETE FROM public.movimientos WHERE id = \" + $json.movimiento_id + \" RETURNING id;\" }}"
      },
      "name": "Delete Movimiento (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        660,
        520
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Parse Callback Data\"].json.chat_id }}",
        "text": "↩️ Registro revertido. El movimiento ha sido eliminado y el stock original ha sido restaurado con éxito."
      },
      "name": "Confirm Reversion (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        880,
        520
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Create or Get User (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Get User (Postgres)": {
      "main": [
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Telegram Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Download Voice": {
      "main": [
        [
          {
            "node": "Groq Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper": {
      "main": [
        [
          {
            "node": "Whisper → Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper → Text": {
      "main": [
        [
          {
            "node": "Groq Llama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Groq Llama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Llama 3": {
      "main": [
        [
          {
            "node": "Parse Groq JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Groq JSON": {
      "main": [
        [
          {
            "node": "Get Category ID (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category ID (Postgres)": {
      "main": [
        [
          {
            "node": "Ensure Product (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Product (Postgres)": {
      "main": [
        [
          {
            "node": "Ensure Stock (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Stock (Postgres)": {
      "main": [
        [
          {
            "node": "Insert Movimiento (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Movimiento (Postgres)": {
      "main": [
        [
          {
            "node": "Notify Success and Offer Undo (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Callback Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Is Undo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Undo?": {
      "main": [
        [
          {
            "node": "Delete Movimiento (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Movimiento (Postgres)": {
      "main": [
        [
          {
            "node": "Confirm Reversion (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}